@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.headerBg {
    background-image: url(../../../../assets/images/home-bg.png);
    background-size: cover;
    background-position: center center;
}

.headerContainer{
    animation: identifier .5s ease-in backwards;
    font-family: 'Montserrat', sans-serif !important;
    h2{
        font-size: 2.25rem;
    }
    h3{
        font-size: 1.875rem;
    }
}
@keyframes identifier {
    0%{
        transform: translateX(100%);
        transform: scale(0);
    }
    100%{
        transform: translateX(0);
        transform: scale(1);
    }
}