.resetPassword-window {
  border-radius: 15px;
  background: rgba(49, 89, 81, 0.9);
}

.resetPassword-title-container {
  width: 100%;
  padding-bottom: 10px;
}

.resetPassword-subTitle {
  font-size: 18px;
  color: #ffffff;
}

.resetPassword-title {
  font-weight: 700;
  font-size: 32px;
  color: rgba(239, 155, 40, 1);
  position: relative;
}

.resetPassword-title::after {
  content: "";
  display: block;
  width: 5%;
  height: 4px;
  background-color: rgba(239, 155, 40, 1);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.resetPassword-form {
  width: 90%;
  margin-top: 20px;
  margin-inline: 50px;
  border: none;
}

.resetPassword-label {
  color: rgba(239, 155, 40, 1);
  margin-bottom: 0px;
}

.resetPassword-input {
  margin-top: 0px;
  margin-bottom: 13px;
  outline: none !important;
  border: 0.2px !important;
  border-bottom: 1px solid #ffffff !important ;
  background: transparent !important;
  border-radius: 0% !important;
}

.resetPassword-input ::placeholder {
  color: black;
}

.resetPassword-buttonContainer {
  width: 100%;
  text-align: center;
}

.resetPassword-button {
  background-color: rgba(239, 155, 40, 1);
  width: 80%;
  height: 48px;
  margin-top: 14px;
  margin-bottom: 20px;
  border-radius: 96px;
  border: none;
  margin-inline: auto;
}

.resetPassword-button span {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: none;
}
